/* Typewriter effect */
@keyframes typing {
  0%,
  54% {
    content: '';
  }
  1%,
  53% {
    content: 'F';
  }
  2%,
  52% {
    content: 'Fr';
  }
  3%,
  51% {
    content: 'Fro';
  }
  4%,
  50% {
    content: 'Fron';
  }
  5%,
  49% {
    content: 'Front';
  }
  6%,
  48% {
    content: 'Fronte';
  }
  7%,
  47% {
    content: 'Fronten';
  }
  8%,
  46% {
    content: 'Frontend';
  }
  9%,
  45% {
    content: 'Frontend D';
  }
  10%,
  44% {
    content: 'Frontend De';
  }
  11%,
  43% {
    content: 'Frontend Dev';
  }
  12%,
  42% {
    content: 'Frontend Deve';
  }
  13%,
  41% {
    content: 'Frontend Devel';
  }
  14%,
  40% {
    content: 'Frontend Develo';
  }
  15%,
  39% {
    content: 'Frontend Develop';
  }
  15%,
  38% {
    content: 'Frontend Develope';
  }
  16%,
  37% {
    content: 'Frontend Developer';
  }

  55%,
  99% {
    content: '';
  }

  56%,
  98% {
    content: 'M';
  }
  57%,
  97% {
    content: 'My';
  }
  58%,
  96% {
    content: 'Myk';
  }
  59%,
  95% {
    content: 'Mykh';
  }
  60%,
  94% {
    content: 'Mykha';
  }
  61%,
  93% {
    content: 'Mykhai';
  }
  62%,
  92% {
    content: 'Mykhail';
  }
  63%,
  91% {
    content: 'Mykhailo';
  }
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.typewriter {
  --caret: currentcolor;
}

.typewriter::before {
  content: '';
  animation: typing 13.5s infinite 2.5s;
}

.typewriter::after {
  content: '';
  border-right: 1px solid var(--caret);
  animation: blink 0.5s linear infinite;
}

.typewriter.thick::after {
  border-right: 1ch solid var(--caret);
}

.typewriter.nocaret::after {
  border-right: 0;
}

/*Animated Title effect */

.heroTitle {
  background: linear-gradient(to right, #5e72eb, #ff9190, #fec195, #5e72eb);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;

  background-size: 300%;
  background-position: -100%;

  animation: animatedTitle 13s infinite alternate-reverse;
}

:global(.dark) .heroTitle {
  background: linear-gradient(to right, #56f294, #f9c469, #4d9be9, #a9f2bd);
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 300%;
  background-position: -100%;
}

@keyframes animatedTitle {
  to {
    background-position: 100%;
  }
}
