.features {
  --firs-scene-leave-progress: clamp(
    0,
    (var(--scroll-progress-profile) - 0.55) / 0.1,
    1
  );
}

/* .item {
  position: absolute;
  list-style-type: inherit;
  padding: 1em;

  background: #eeeeee;
  color: #222831;
  max-width: 28vw;
  margin: 0;
  line-height: 1;
  border-radius: 0.75em;
  transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
} */

.firstScene {
  transform: translateX(calc(var(--firs-scene-leave-progress) * -100%));
}

.secodnScene {
}

.aboutMe {
  --start: 0.15;
  --end: 0.3;

  --progress: clamp(
    0,
    (var(--scroll-progress-profile) - var(--start)) /
      (var(--end) - var(--start)),
    1
  );

  transform: scale(var(--progress))
    translateY(calc((1 - var(--progress)) * -75%))
    translateX(calc((1 - var(--progress)) * 75%))
    rotate(calc((1 - var(--progress)) * -28deg));
  transition-duration: 0.3s;
}

.stackIcons {
  --start: 0.4;
  --end: 0.8;

  --progress: clamp(
    0,
    (var(--scroll-progress-profile) - var(--start)) /
      (var(--end) - var(--start)),
    1
  );
}

.stackTitle {
  --start: 0.32;
  --end: 0.5;

  --progress: clamp(
    0,
    (var(--scroll-progress-profile) - var(--start)) /
      (var(--end) - var(--start)),
    1
  );

  transform: scale(calc(5 - var(--progress) * 4))
    translateY(calc((1 - var(--progress)) * 500%));
  transition-duration: 0.3s;
}

.stackIcon:nth-of-type(1) {
  opacity: var(--progress);
  transform: scale(calc(5 - var(--progress) * 4))
    translateY(calc((1 - var(--progress)) * -75%))
    translateX(calc((1 - var(--progress)) * -125%))
    rotate(calc((1 - var(--progress)) * -12deg));
  transition-duration: 0.3s;
}

.stackIcon:nth-of-type(2) {
  opacity: var(--progress);
  transform: scale(calc(5 - var(--progress) * 4))
    translateY(calc((1 - var(--progress)) * 75%))
    translateX(calc((1 - var(--progress)) * -100%))
    rotate(calc((1 - var(--progress)) * 8deg));
  transition-duration: 0.35s;
}

.stackIcon:nth-of-type(3) {
  opacity: var(--progress);
  transform: scale(calc(5 - var(--progress) * 4))
    translateY(calc((1 - var(--progress)) * -75%))
    translateX(calc((1 - var(--progress)) * 100%))
    rotate(calc((1 - var(--progress)) * -8deg));
  transition-duration: 0.45s;
}

.stackIcon:nth-of-type(4) {
  opacity: var(--progress);
  transform: scale(calc(5 - var(--progress) * 4))
    translateY(calc((1 - var(--progress)) * 175%))
    translateX(calc((1 - var(--progress)) * 50%))
    rotate(calc((1 - var(--progress)) * -12deg));
  transition-duration: 0.45s;
}

.stackIcon:nth-of-type(5) {
  opacity: var(--progress);
  transform: scale(calc(5 - var(--progress) * 4))
    translateY(calc((1 - var(--progress)) * -150%))
    translateX(calc((1 - var(--progress)) * -7.5%))
    rotate(calc((1 - var(--progress)) * 4deg));
  transition-duration: 0.45s;
}
