.features {
  --firs-scene-leave-progress: clamp(
    0,
    (var(--scroll-progress-profile) - 0.55) / 0.1,
    1
  );
}

.firstScene {
  transform: translateX(calc(var(--firs-scene-leave-progress) * -100%));
}

.secodnScene {
}

.aboutMe {
  --start: 0.15;
  --end: 0.4;

  --progress: clamp(
    0,
    (var(--scroll-progress-profile) - var(--start)) /
      (var(--end) - var(--start)),
    1
  );

  transform: translateX(calc((1 - var(--progress)) * -100%));
  transition-duration: 0.3s;
}

.photoMe {
  --start: 0.15;
  --end: 0.45;

  --progress: clamp(
    0,
    (var(--scroll-progress-profile) - var(--start)) /
      (var(--end) - var(--start)),
    1
  );
  opacity: var(--progress);
  transform: translateY(calc((1 - var(--progress)) * -200%));
  transition-duration: 0.3s;
}

.stackIcons {
  --start: 0.55;
  --end: 0.65;

  --progress: clamp(
    0,
    (var(--scroll-progress-profile) - var(--start)) /
      (var(--end) - var(--start)),
    1
  );

  transform: translateX(calc((1 - var(--progress)) * 200%));
  transition-duration: 0.3s;
}

.techStack {
  --start: 0.6;
  --end: 0.65;

  --progress: clamp(
    0,
    (var(--scroll-progress-profile) - var(--start)) /
      (var(--end) - var(--start)),
    1
  );
  opacity: var(--progress);
  transform: translateY(calc((1 - var(--progress)) * -200%));
  transition-duration: 0.3s;
}

.secodndScene {
  --start: 0.75;
  --end: 1;
  --second-scene-leave-progress: clamp(
    0,
    (var(--scroll-progress-profile) - var(--start)) /
      (var(--end) - var(--start)),
    1
  );
  transform: translateX(calc(var(--second-scene-leave-progress) * 100%));
  opacity: calc(1 - var(--second-scene-leave-progress));
}
/* 

.stackIcon:nth-of-type(1) {
  opacity: var(--progress);
  transform: scale(calc(5 - var(--progress) * 4))
    translateY(calc((1 - var(--progress)) * -75%))
    translateX(calc((1 - var(--progress)) * -125%))
    rotate(calc((1 - var(--progress)) * -12deg));
  transition-duration: 0.3s;
}

.stackIcon:nth-of-type(2) {
  opacity: var(--progress);
  transform: scale(calc(5 - var(--progress) * 4))
    translateY(calc((1 - var(--progress)) * 75%))
    translateX(calc((1 - var(--progress)) * -100%))
    rotate(calc((1 - var(--progress)) * 8deg));
  transition-duration: 0.35s;
}

.stackIcon:nth-of-type(3) {
  opacity: var(--progress);
  transform: scale(calc(5 - var(--progress) * 4))
    translateY(calc((1 - var(--progress)) * -75%))
    translateX(calc((1 - var(--progress)) * 100%))
    rotate(calc((1 - var(--progress)) * -8deg));
  transition-duration: 0.45s;
}

.stackIcon:nth-of-type(4) {
  opacity: var(--progress);
  transform: scale(calc(5 - var(--progress) * 4))
    translateY(calc((1 - var(--progress)) * 175%))
    translateX(calc((1 - var(--progress)) * 50%))
    rotate(calc((1 - var(--progress)) * -12deg));
  transition-duration: 0.45s;
}

.stackIcon:nth-of-type(5) {
  opacity: var(--progress);
  transform: scale(calc(5 - var(--progress) * 4))
    translateY(calc((1 - var(--progress)) * -150%))
    translateX(calc((1 - var(--progress)) * -7.5%))
    rotate(calc((1 - var(--progress)) * 4deg));
  transition-duration: 0.45s;
} */
