.features {
  --firs-scene-leave-progress: clamp(
    0,
    (var(--scroll-progress-profile) - 0.55) / 0.1,
    1
  );
}

.firstScene {
  --startScale: 0.3;
  --endScale: 0.65;

  --progressScale: clamp(
    0,
    (var(--scroll-progress-profile) - var(--startScale)) /
      (var(--endScale) - var(--startScale)),
    1
  );
  transform: translateX(calc(var(--firs-scene-leave-progress) * -150%))
    scale(max(1, calc(0.5 + var(--progressScale))));
  transition-duration: 0.3s;
}

.aboutMe {
  --start: 0.15;
  --end: 0.4;

  --progress: clamp(
    0,
    (var(--scroll-progress-profile) - var(--start)) /
      (var(--end) - var(--start)),
    1
  );

  transform: translateX(calc((1 - var(--progress)) * -100%));
  transition-duration: 0.3s;
}

.photoMe {
  --start: 0.15;
  --end: 0.45;

  --progress: clamp(
    0,
    (var(--scroll-progress-profile) - var(--start)) /
      (var(--end) - var(--start)),
    1
  );
  opacity: var(--progress);
  transform: translateY(calc((1 - var(--progress)) * -200%));
  transition-duration: 0.3s;
}

.stackIcons {
  --start: 0.55;
  --end: 0.65;

  --progress: clamp(
    0,
    (var(--scroll-progress-profile) - var(--start)) /
      (var(--end) - var(--start)),
    1
  );

  transform: translateX(calc((1 - var(--progress)) * 200%));
  transition-duration: 0.3s;
}

.techStack {
  --start: 0.6;
  --end: 0.65;

  --progress: clamp(
    0,
    (var(--scroll-progress-profile) - var(--start)) /
      (var(--end) - var(--start)),
    1
  );
  opacity: var(--progress);
  transform: translateY(calc((1 - var(--progress)) * -200%));
  transition-duration: 0.3s;
}

.secodndScene {
  --startScale: 0.6;
  --endScale: 0.85;

  --progressScale: clamp(
    0,
    (var(--scroll-progress-profile) - var(--startScale)) /
      (var(--endScale) - var(--startScale)),
    1
  );

  --start: 0.75;
  --end: 0.82;
  --second-scene-leave-progress: clamp(
    0,
    (var(--scroll-progress-profile) - var(--start)) /
      (var(--end) - var(--start)),
    1
  );
  transform: scale(max(1, calc(0.5 + var(--progressScale))));
  opacity: calc(1 - var(--second-scene-leave-progress));
  transition-duration: 0.3s;
}
