.aboutMeScrollTransform {
  transform: translate(
    calc((1 - (min(var(--scroll-progress-profile), 0.4)) / 0.4) * 100%),
    calc((1 - (min(var(--scroll-progress-profile), 0.4)) / 0.4) * -200%)
  );
  opacity: calc((min(var(--scroll-progress-profile), 0.4)) / 0.4);
  transition: transform 0.4s linear;
}

.photoScrollTransform {
  transform: translate(
    calc((1 - (min(var(--scroll-progress-profile), 0.4)) / 0.4) * -200%),
    calc((1 - (min(var(--scroll-progress-profile), 0.4)) / 0.4) * -400%)
  );
  opacity: calc((min(var(--scroll-progress-profile), 0.4)) / 0.4);
  transition: transform 0.3s linear;
}

.skillsScrollTransform {
  transform: translateY(
    calc(
      (1 - (clamp(0, var(--scroll-progress-profile) - 0.7, 0.2) / 0.2)) * 150%
    )
  );
  transition: transform 0.3s linear;
}
.buttonCv {
  transform: rotateX(
    calc(
      (1 - (clamp(0, var(--scroll-progress-profile) - 0.95, 0.05) / 0.05)) *
        100deg
    )
  );

  transition: transform 0.3s linear;
}
