.animCircles {
  --circles-color: #baeef8;

  position: absolute;
  top: 50%;
  left: 50%;
  height: 2px;
  width: 2px;
  border-radius: 50%;

  box-shadow:
    -42vw -4vh 0px 0px var(--circles-color),
    25vw -41vh 0px 0px var(--circles-color),
    -20vw 49vh 0px 1px var(--circles-color),
    5vw 40vh 1px 1px var(--circles-color),
    29vw 19vh 1px 0px var(--circles-color),
    -44vw -13vh 0px 0px var(--circles-color),
    46vw 41vh 0px 1px var(--circles-color),
    -3vw -45vh 0px 1px var(--circles-color),
    47vw 35vh 1px 0px var(--circles-color),
    12vw -8vh 1px 0px var(--circles-color),
    -34vw 48vh 1px 1px var(--circles-color),
    32vw 26vh 1px 1px var(--circles-color),
    32vw -41vh 1px 1px var(--circles-color),
    0vw 37vh 1px 1px var(--circles-color),
    34vw -26vh 1px 0px var(--circles-color),
    -14vw -49vh 1px 0px var(--circles-color),
    -12vw 45vh 0px 1px var(--circles-color),
    -44vw -33vh 0px 1px var(--circles-color),
    -13vw 41vh 0px 0px var(--circles-color),
    -36vw -11vh 0px 1px var(--circles-color),
    -23vw -24vh 1px 0px var(--circles-color),
    -38vw -27vh 0px 1px var(--circles-color),
    16vw -19vh 0px 0px var(--circles-color),
    28vw 33vh 1px 0px var(--circles-color),
    -49vw -4vh 0px 0px var(--circles-color),
    16vw 32vh 0px 1px var(--circles-color),
    36vw -18vh 1px 0px var(--circles-color),
    -25vw -30vh 1px 0px var(--circles-color),
    -23vw 24vh 0px 1px var(--circles-color),
    -2vw -35vh 1px 1px var(--circles-color),
    -25vw 9vh 0px 0px var(--circles-color),
    -15vw -34vh 0px 0px var(--circles-color),
    -8vw -19vh 1px 0px var(--circles-color),
    -20vw -20vh 1px 1px var(--circles-color),
    42vw 50vh 0px 1px var(--circles-color),
    -32vw 10vh 1px 0px var(--circles-color),
    -23vw -17vh 0px 0px var(--circles-color),
    44vw 15vh 1px 0px var(--circles-color),
    -40vw 33vh 1px 1px var(--circles-color),
    -43vw 8vh 0px 0px var(--circles-color),
    -48vw -15vh 1px 1px var(--circles-color),
    -24vw 17vh 0px 0px var(--circles-color),
    -31vw 50vh 1px 0px var(--circles-color),
    36vw -38vh 0px 1px var(--circles-color),
    -7vw 48vh 0px 0px var(--circles-color),
    15vw -32vh 0px 0px var(--circles-color),
    29vw -41vh 0px 0px var(--circles-color),
    2vw 37vh 1px 0px var(--circles-color),
    7vw -40vh 1px 1px var(--circles-color),
    15vw 18vh 0px 0px var(--circles-color),
    25vw -13vh 1px 1px var(--circles-color),
    -46vw -12vh 1px 1px var(--circles-color),
    -18vw 22vh 0px 0px var(--circles-color),
    23vw -9vh 1px 0px var(--circles-color),
    50vw 12vh 0px 1px var(--circles-color),
    45vw 2vh 0px 0px var(--circles-color),
    14vw -48vh 1px 0px var(--circles-color),
    23vw 43vh 0px 1px var(--circles-color),
    -40vw 16vh 1px 1px var(--circles-color),
    20vw -31vh 0px 1px var(--circles-color),
    -17vw 44vh 1px 1px var(--circles-color),
    18vw -45vh 0px 0px var(--circles-color),
    33vw -6vh 0px 0px var(--circles-color),
    0vw 7vh 0px 1px var(--circles-color),
    -10vw -18vh 0px 1px var(--circles-color),
    -19vw 5vh 1px 0px var(--circles-color),
    1vw 42vh 0px 0px var(--circles-color),
    22vw 48vh 0px 1px var(--circles-color),
    39vw -8vh 1px 1px var(--circles-color),
    -6vw -42vh 1px 0px var(--circles-color),
    -47vw 34vh 0px 0px var(--circles-color),
    -46vw 19vh 0px 1px var(--circles-color),
    -12vw -32vh 0px 0px var(--circles-color),
    -45vw -38vh 0px 1px var(--circles-color),
    -28vw 18vh 1px 0px var(--circles-color),
    -38vw -46vh 1px 1px var(--circles-color),
    49vw -6vh 1px 1px var(--circles-color),
    -28vw 18vh 1px 1px var(--circles-color),
    10vw -24vh 0px 1px var(--circles-color),
    -5vw -11vh 1px 1px var(--circles-color),
    33vw -8vh 1px 0px var(--circles-color),
    -16vw 17vh 0px 0px var(--circles-color),
    18vw 27vh 0px 1px var(--circles-color),
    -8vw -10vh 1px 1px var(--circles-color);

  animation: zoom 26s alternate infinite;
}

:global(.dark) .animCircles {
  --circles-color: #324a6b;

  box-shadow:
    -42vw -4vh 0px 0px var(--circles-color),
    25vw -41vh 0px 0px var(--circles-color),
    -20vw 49vh 0px 1px var(--circles-color),
    5vw 40vh 1px 1px var(--circles-color),
    29vw 19vh 1px 0px var(--circles-color),
    -44vw -13vh 0px 0px var(--circles-color),
    46vw 41vh 0px 1px var(--circles-color),
    -3vw -45vh 0px 1px var(--circles-color),
    47vw 35vh 1px 0px var(--circles-color),
    12vw -8vh 1px 0px var(--circles-color),
    -34vw 48vh 1px 1px var(--circles-color),
    32vw 26vh 1px 1px var(--circles-color),
    32vw -41vh 1px 1px var(--circles-color),
    0vw 37vh 1px 1px var(--circles-color),
    34vw -26vh 1px 0px var(--circles-color),
    -14vw -49vh 1px 0px var(--circles-color),
    -12vw 45vh 0px 1px var(--circles-color),
    -44vw -33vh 0px 1px var(--circles-color),
    -13vw 41vh 0px 0px var(--circles-color),
    -36vw -11vh 0px 1px var(--circles-color),
    -23vw -24vh 1px 0px var(--circles-color),
    -38vw -27vh 0px 1px var(--circles-color),
    16vw -19vh 0px 0px var(--circles-color),
    28vw 33vh 1px 0px var(--circles-color),
    -49vw -4vh 0px 0px var(--circles-color),
    16vw 32vh 0px 1px var(--circles-color),
    36vw -18vh 1px 0px var(--circles-color),
    -25vw -30vh 1px 0px var(--circles-color),
    -23vw 24vh 0px 1px var(--circles-color),
    -2vw -35vh 1px 1px var(--circles-color),
    -25vw 9vh 0px 0px var(--circles-color),
    -15vw -34vh 0px 0px var(--circles-color),
    -8vw -19vh 1px 0px var(--circles-color),
    -20vw -20vh 1px 1px var(--circles-color),
    42vw 50vh 0px 1px var(--circles-color),
    -32vw 10vh 1px 0px var(--circles-color),
    -23vw -17vh 0px 0px var(--circles-color),
    44vw 15vh 1px 0px var(--circles-color),
    -40vw 33vh 1px 1px var(--circles-color),
    -43vw 8vh 0px 0px var(--circles-color),
    -48vw -15vh 1px 1px var(--circles-color),
    -24vw 17vh 0px 0px var(--circles-color),
    -31vw 50vh 1px 0px var(--circles-color),
    36vw -38vh 0px 1px var(--circles-color),
    -7vw 48vh 0px 0px var(--circles-color),
    15vw -32vh 0px 0px var(--circles-color),
    29vw -41vh 0px 0px var(--circles-color),
    2vw 37vh 1px 0px var(--circles-color),
    7vw -40vh 1px 1px var(--circles-color),
    15vw 18vh 0px 0px var(--circles-color),
    25vw -13vh 1px 1px var(--circles-color),
    -46vw -12vh 1px 1px var(--circles-color),
    -18vw 22vh 0px 0px var(--circles-color),
    23vw -9vh 1px 0px var(--circles-color),
    50vw 12vh 0px 1px var(--circles-color),
    45vw 2vh 0px 0px var(--circles-color),
    14vw -48vh 1px 0px var(--circles-color),
    23vw 43vh 0px 1px var(--circles-color),
    -40vw 16vh 1px 1px var(--circles-color),
    20vw -31vh 0px 1px var(--circles-color),
    -17vw 44vh 1px 1px var(--circles-color),
    18vw -45vh 0px 0px var(--circles-color),
    33vw -6vh 0px 0px var(--circles-color),
    0vw 7vh 0px 1px var(--circles-color),
    -10vw -18vh 0px 1px var(--circles-color),
    -19vw 5vh 1px 0px var(--circles-color),
    1vw 42vh 0px 0px var(--circles-color),
    22vw 48vh 0px 1px var(--circles-color),
    39vw -8vh 1px 1px var(--circles-color),
    -6vw -42vh 1px 0px var(--circles-color),
    -47vw 34vh 0px 0px var(--circles-color),
    -46vw 19vh 0px 1px var(--circles-color),
    -12vw -32vh 0px 0px var(--circles-color),
    -45vw -38vh 0px 1px var(--circles-color),
    -28vw 18vh 1px 0px var(--circles-color),
    -38vw -46vh 1px 1px var(--circles-color),
    49vw -6vh 1px 1px var(--circles-color),
    -28vw 18vh 1px 1px var(--circles-color),
    10vw -24vh 0px 1px var(--circles-color),
    -5vw -11vh 1px 1px var(--circles-color),
    33vw -8vh 1px 0px var(--circles-color),
    -16vw 17vh 0px 0px var(--circles-color),
    18vw 27vh 0px 1px var(--circles-color),
    -8vw -10vh 1px 1px var(--circles-color);
}

@keyframes zoom {
  0% {
    transform: scale(1) rotate(0);
  }
  100% {
    transform: scale(1.5) rotate(15deg);
  }
}
