:root {
  --start: 0.45;
  --end: 0.5;
  --range: calc(var(--end) - var(--start));
}

@media (width <= 575px) {
  .projectCardInfo-1 {
    --normalized-scroll: clamp(
      0,
      calc(
        (var(--scroll-progress-projectCard-1) - var(--start)) / var(--range)
      ),
      1
    );
    opacity: calc(var(--normalized-scroll));
    transition: transform 0.2s linear;
  }

  .projectCardInfo-2 {
    --normalized-scroll: clamp(
      0,
      calc(
        (var(--scroll-progress-projectCard-2) - var(--start)) / var(--range)
      ),
      1
    );
    opacity: calc(var(--normalized-scroll));
    transition: transform 0.2s linear;
  }
}
