@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  @apply bg-background text-foreground antialiased;
}

@layer components {
  header {
    --thickness: 4px;
    width: 100%;
    position: fixed;
    top: 0;
    /*
        Very opaque, for unsupported browsers.
        Overwritten in the feature queries below.
      */
    background: hsl(0deg 0% 100% / 0.95);

    /*
       нужно доделать для темной версии фон как выше
      */
    z-index: 2;
  }

  @supports (backdrop-filter: blur(16px)) or
    (-webkit-backdrop-filter: blur(16px)) {
    header {
      background: hsl(0deg 0% 100% / 0);
    }

    .backdrop {
      position: absolute;
      inset: 0;
      -webkit-backdrop-filter: blur(16px);
      backdrop-filter: blur(16px);
      pointer-events: none;
    }

    .backdrop-edge {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: var(--thickness);
      background: hsl(0deg 0% 100% / 0.1);
      -webkit-backdrop-filter: blur(12px) brightness(0.96);
      backdrop-filter: blur(12px) brightness(0.96);
      transform: translateY(100%);
      pointer-events: none;
    }
  }

  @supports (mask-image: none) or (-webkit-mask-image: none) {
    .backdrop {
      height: 200%;
      -webkit-mask-image: linear-gradient(
        to bottom,
        black 0% 50%,
        transparent 50% 100%
      );
      mask-image: linear-gradient(
        to bottom,
        black 0% 50%,
        transparent 50% 100%
      );
    }
    .backdrop-edge {
      height: 100%;
      inset: 0;
      -webkit-mask-image: linear-gradient(
        to bottom,
        black 0,
        black var(--thickness),
        transparent var(--thickness)
      );
      mask-image: linear-gradient(
        to bottom,
        black 0,
        black var(--thickness),
        transparent var(--thickness)
      );
    }
  }
}

@layer components {
  .wrapper {
    @apply mx-auto max-w-7xl px-4 sm:px-6 lg:px-8;
  }
}
