.burgerMenu {
  display: none;
  cursor: pointer;
  z-index: 3;
}

.bar {
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.2s ease-in-out;
  background: var(--foreground);
}
.menuItems {
  display: flex;
  align-items: center;
  gap: 1rem;
}

@media (max-width: 767px) {
  .menuItems {
    position: fixed;
    top: 74px;
    right: -100%;
    height: calc(100vh - 70px);
    width: 100%;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    background: var(--background);
    transition: right 0.2s ease-in-out;
    z-index: 4;
  }

  .menuItems.active {
    right: 0;
  }
  .bar {
    display: block;
  }
  .burgerMenu {
    display: block;
  }
  .burgerMenu.active .bar:nth-child(2) {
    opacity: 0;
  }
  .burgerMenu.active .bar:nth-child(1) {
    transform: rotate(45deg) translateY(11.5px);
  }
  .burgerMenu.active .bar:nth-child(3) {
    transform: rotate(-45deg) translateY(-11.5px);
  }
}


