@media (width <= 575px) {
  .MockIphone-1 {
    --start: 0.45;
    --end: 0.5;
    --range: calc(var(--end) - var(--start));
    --normalized-scroll: clamp(
      0,
      calc(
        (var(--scroll-progress-projectCard-1) - var(--start)) / var(--range)
      ),
      1
    );

    /* transform: translateX(calc(var(--normalized-scroll) * -70%)); */

    opacity: calc(1.2 - var(--normalized-scroll));
    transition: transform 0.2s linear;
  }

  .MockIphone-2 {
    --start: 0.45;
    --end: 0.5;
    --range: calc(var(--end) - var(--start));
    --normalized-scroll: clamp(
      0,
      calc(
        (var(--scroll-progress-projectCard-2) - var(--start)) / var(--range)
      ),
      1
    );

    /* transform: translateX(calc(var(--normalized-scroll) * -70%)); */

    opacity: calc(1.2 - var(--normalized-scroll));
    transition: transform 0.2s linear;
  }
}
